@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">

    @Styles.Render("~/styles")
</head>
<body class="body">
    <div class="site-header">
        <header class="container">
            <div class="page-header">
                <h1>
                    <a href="@Url.RouteUrl("Home")">Awesome Blog</a>
                    <small> - a simple blog powered by ASP.NET MVC</small>
                </h1>
            </div>
        </header>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @RenderBody()
            </div>
            <div class="col-lg-4 sidebar">
                @Html.Action("Sidebar", "Layout")
            </div>
        </div>


        <footer class="page-footer">
            &copy; @DateTime.UtcNow.Year
        </footer>
    </div>

    @Scripts.Render("~/scripts")
    @RenderSection("Scripts", false)
</body>
</html>
