@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/styles")
    </head>
    <body>
        <header>
            <h1>
                <a href="@Url.RouteUrl("Home")">SimpleBlog</a>
            </h1>

            @if (User.Identity.IsAuthenticated)
            {
                <p>Welcome Back @User.Identity.Name</p>
                <a href="@Url.RouteUrl("logout")">Logout</a>

                if (User.IsInRole("admin"))
                {
                    <a href="@Url.Action("index", "home", new { area = "admin"})">Enter Admin Area!</a>
                }
            }
        </header>
        <div>
            @RenderBody()

            <footer>
                &copy; @DateTime.UtcNow.Year - Company Name
            </footer>
        </div>
        @Scripts.Render("~/scripts")
        @RenderSection("Scripts", false)
    </body>
</html>
