@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">

        @Styles.Render("~/styles")
    </head>
    <body class="body">
        <header>
            <h1>
                <a href="@Url.RouteUrl("Home")">SimpleBlog</a>
                <i class="glyphicon glyphicon-bell"></i>
            </h1>

            @if (User.Identity.IsAuthenticated)
            {
                <p>Welcome Back @User.Identity.Name</p>
                <a href="@Url.RouteUrl("logout")">Logout</a>

                if (User.IsInRole("admin"))
                {
                    <a href="@Url.Action("index", "home", new { area = "admin"})">Enter Admin Area!</a>
                }
                if (User.IsInRole("canEdit"))
                {
                    <a href="@Url.Action("index", "home", new { area = "admin"})">canEdit</a>
                }
                if (User.IsInRole("user"))
                {
                    <a href="@Url.Action("index", "home", new { area = "admin"})">user</a>
                }

            }
        </header>
        <div>
            @RenderBody()

            <footer>
                &copy; @DateTime.UtcNow.Year - Company Name
            </footer>
        </div>
        @Scripts.Render("~/scripts")
        @RenderSection("Scripts", false)
    </body>
</html>
